header{
    background-color: #462b74;
    padding: 30px;
    .Header-logo{
        float: left;
        max-width: 200px;
    }
    .Header-title{
        float: left;
        color: #ffffff;
    }
}